<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Projeto da Equipe PSD</title>
    <link rel="icon" href="static/imagem/logoestacio.png">

    <style>
        h1#subtitulo {
            color: blue;
            text-align: center;
        }

        footer {
            text-align: center;
        }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <script src="{{ url_for('static', filename='script/JS.ts') }}"></script>

    <nav>
        <h2>Menu Principal</h2>
        <ul>

            <li><a href="index.html">Início</a></li>
            <li><a href="QuemSomos.html">Quem Somos</a></li>
            <li><a href="Contato.html">Contato</a></li>
            <li><a href="postgreteste.html">PostgreSQL Demo</a></li>
        </ul>
    </nav>
</head>

<body>

    <figure class="centered-figure">
        <img src="{{ url_for('static', filename='imagem/logoestaciofull.png') }}" alt="Imagem" style="max-width: 20%; height: auto;">
    </figure>

    <div style="text-align: center;">
        <p>
        <h2><b><i>Tópicos de Big Data em Python</i></b></h2>
        </p>

        <b> 
            Este site está sendo desenvolvido como parte um projeto extensionista da disciplina,
            Tópicos de Big Data Python, ministrada pelo professor Edson Belém Souza Junior, na
            Universidade Estácio Sá. <br>
            Utilizando as tecnologias que aprendemos
            em outras disciplinas que são IDE PHP Storm, Visual Studio Code, Hack MD,
            PostgreSQL e outros, que estão disponiveis no Citrix.
        </b>
    </div>

</body><br>

<footer class="footer">
    <strong>
        <p>Site Desenvolvido pela Equipe PSD, na disciplina:<br>
            <a href="https://estudante.estacio.br/disciplinas/estacio_5652694/temas/1">
                Tópicos de Big Data em Python</a>
        </p>
    </strong>
</footer>
</html>