<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Plataforma De Vídeo</title>
    <!--<link rel="icon" href="static/imagem/logoestacio.png">-->

    <style>
        h1#subtitulo {
            color: blue;
            text-align: center;
        }

        footer {
            text-align: center;
        }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <script src="{{ url_for('static', filename='script/JS.ts') }}"></script>

    <!--<nav>
        <h2>Menu Principal</h2>
        <ul>

            <li><a href="login.html">Início</a></li>
            <li><a href="video.html">Video</a></li>

        </ul>
    </nav>-->
</head>

<body>

    <!--<figure class="centered-figure">
        <img src="{{ url_for('static', filename='imagem/logoestaciofull.png') }}" alt="Imagem" style="max-width: 20%; height: auto;">
    </figure>-->

    <div style="text-align: center;">
        <p>
        <h2><b>Plataforma de Vídeos</b></h2>
        </p>

        <form action="{{ url_for('rota_video') }}" method="post">
            <label for="nome_usuario">Usuário</label>
            <input type="text" id="nome_usuario" required>
            <br/> <br/>
            <button type="submit">Entrar</button>
        </form>
    </div>

</body><br>

<footer class="footer">
    <strong>
        <p>Site Desenvolvido pela Equipe PSD, na disciplina:<br>
            <a href="https://estudante.estacio.br/disciplinas/estacio_5652694/temas/1">
                Tópicos de Big Data em Python</a>
        </p>
    </strong>
</footer>
</html>