<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página da Ana</title>
    <link rel = "icon" href = "imagem/logoestacio.png">
</head>
<body>
    <h1>Teste de PostgreSQL</h1>
    <h4>Insira nome e email. Estes dados serão adicionados ao banco de dados PostgreSQL.</h4>
    <form action="/submit" method="POST">
        <label for="name">Nome:</label><br>
        <input type="text" id="name" name="nome"><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <input type="submit" value="Submit">
    </form>    
</body>
</html>
