<!DOCTYPE html>
<html lang="pt-br">
           <head>
               <meta charset="UTF-8">
               <title>Página da Ana</title>
               <link rel = "icon" href = "static/imagem/logoestacio.png">

               <style>
                   h1#subtitulo{
                       color: blue;
                       text-align: center;
                   }
                   h2#quemsomos {
                       text-align: center;
                   }
                   footer {
                       text-align: center;
                   }
                   form {
                       text-align: center;
                   }
               </style>


               <link rel="stylesheet" href="estilo.css">
                  <script src="JS"></script>

                    <h1 id="subtitulo">Projeto de Extensão - Big Data em Python<br> da <br> Equipe PSD </h1>

               <nav>

                   <h2> Menu  Principal</h2>
                   <ul>

                      <li><a href="index.html"> Início</a></li>
                      <li><a href="QuemSomos.html"> Quem Somos</a></li>
                      <li><a href="Contato.html"> Contato</a></li>
                      <li><a href="postgreteste.html"> postgreteste</a></li>

                   </ul>
               </nav>

           </head>

               <figure align="center" >
                   <img src="static/imagem/logoestaciofull.png"  alt="Imagem grande do símbolo da Estácio.">
               </figure>

          <body>

          <figure align="center">
              <img src="static/imagem/equipePSD.jpg" height="540" width="960"  alt="Imagem grande da equipe PSD, responsável pelo desenvolvimento do projeto." />
          </figure>


          <h2 id="quemsomos"><i>Desenvolvedores de Projeto de Extensâo<br>Equipe PSD(Pessoas Sob Demanda)</i>.</h2>
                 
          <form >
              <p> Nome:<input id="Nome" value="PSD."></p>
              <p> Ano:<input id="ano"value=" 2024"></p>
              <p> Local:<input id="local" value=" Nova Iguaçu"></p>
              <p> Onde Estuda:<input id="estuda" value=" Universidade Estácio de Sá "></p>
              <p> Curso:<input id="curso" value=" Sistemas de Informação "></p>
              <p> Disciplina:<input id="disciplina" value=" Tópico Big Data em Python"></p>
              <p> Professor:<input id="professor" value=" Edson Belém de S. Junior"></p>

         </form>

          <h1> Sobre Equipe PSD :</h1>
          <h2>Equipe acadêmica, Grupo PSD (Pessoas Sob Demanda), alunos universitários da Universidade Estácio de Sá,
              com a orientação do professor Edson Belém de Souza Junior, docente da Universidade Estácio de Sá,
              da disciplina Tópicos de Big Data em Python, de Sistema de Informação. </h2>

          </body>


          <footer>
              <strong>
              <p>Site Desenvolvido por Ana Rodrigues, na disciplina de :<br>
                  <a href="https://estudante.estacio.br/disciplinas/estacio_5652694/temas/1">
                      Tópicos de Big Data em Python </a></p>
              </strong>

          </footer>

</html>