<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Plataforma De Vídeo</title>
    <!--<link rel="icon" href="static/imagem/logoestacio.png">-->

    <style>
        h2#quemsomos {
            text-align: center;
        }

        footer {
            text-align: center;
        }

        form {
            text-align: center;
        }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <script src="{{ url_for('static', filename='script/JS.ts') }}"></script>

    <nav>

        <h2> Menu Principal</h2>
        <ul>

            <li><a href="video.html">Vídeos</a></li>
            <li><a href="editar_video.html">Editar Vídeos</a></li>

        </ul>
    </nav>

</head>

<figure class="centered-figure">
    <img src="{{ url_for('static', filename='imagem/logoestaciofull.png') }}" alt="Imagem" 
        style="max-width: 20%; height: auto;">
</figure>

<body class="content">

    <h1>Armazenar e Assistir Vídeo</h1>
    <form action="{{ url_for('upload_video') }}" method="post" enctype="multipart/form-data">
        <input type="text" name="video_title" placeholder="Título do Vídeo" maxlength="50" required>
        <input type="file" id="video-upload" name="video" accept="video/*" required>
        <button type="submit">Enviar</button>
        <br><br>
        <textarea style="width: 512px; height: 64px;resize: none;" name="video_description" placeholder="Descrição do Vídeo (Máximo de 250 caracteres)" maxlength="250" required></textarea>
    </form>

    <div style="text-align: center;">
        <h2>Seus Vídeos</h2>
        {% for video in videos %}
            <div style="background-color: rgb(221, 244, 248); padding: 20px; width: 50%; margin: 0 auto;">
                <h3 style="color: rgb(211, 32, 32);">{{ video.title }}</h3>
                <video style="width: 80%; max-width: 600px; max-height: 400px; box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);" controls>
                    <source src="{{ url_for('static', filename='uploads/' + video.filename) }}" type="video/mp4">
                </video>
                <p style="color: rgb(51, 51, 51);">{{ video.description }}</p>
                <br>
                <form action="{{ url_for('delete_video', filename=video.filename) }}" method="post">
                    <button type="submit">Excluir</button>
                </form>
                <br>
            </div>
            <br>
        {% endfor %}
    </div>

</body>

<footer class="footer">
    <strong>
        <p>Site Desenvolvido pela Equipe PSD, na disciplina:<br>
            <a href="https://estudante.estacio.br/disciplinas/estacio_5652694/temas/1">
                Tópicos de Big Data em Python </a>
        </p>
    </strong>

</footer>
</html>