<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Projeto da Equipe PSD</title>
    <link rel="icon" href="static/imagem/logoestacio.png">

    <style>
        h2#quemsomos {
            text-align: center;
        }

        footer {
            text-align: center;
        }

        form {
            text-align: center;
        }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <script src="{{ url_for('static', filename='script/JS.ts') }}"></script>

    <nav>

        <h2> Menu Principal</h2>
        <ul>

            <li><a href="index.html">Início</a></li>
            <li><a href="QuemSomos.html">Quem Somos</a></li>
            <li><a href="Contato.html">Contato</a></li>
            <li><a href="postgreteste.html">PostgreSQL Demo</a></li>
            <li><a href="video.html">Video</a></li>

        </ul>
    </nav>

</head>

<figure class="centered-figure">
    <img src="{{ url_for('static', filename='imagem/logoestaciofull.png') }}" alt="Imagem" 
        style="max-width: 20%; height: auto;">
</figure>

<body class="content">

    <h1>Armazenar e Assistir Vídeo</h1>
    <form action="{{ url_for('upload_video') }}" method="post" enctype="multipart/form-data">
        <input type="file" id="video-upload" name="video" accept="video/*">
        <button type="submit">Enviar</button>
    </form>
    <div id="error-message">{{ error_message }}</div>
    <div style="text-align: center;">
        <h2>Seu Vídeo</h2>
        <video style="width: 80%; max-width: 600px; max-height: 400px;" id="video-player" controls>
            <source src="{{ url_for('static', filename='uploads/{{ video_filename }}') }}" type="video/mp4">
        </video>
    </div>

    <script>
        const tamanhoMemoria = 50 * 1024 * 1024; //A quantidade maxima de megabytes que é permitido para o upload

        document.getElementById('video-upload').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const errorMessage = document.getElementById('error-message');

            if (file) {
                // Limitar o tamanho do arquivo
                if (file.size > tamanhoMemoria) {
                    errorMessage.textContent = 'O arquivo é muito grande. O tamanho máximo permitido é 50 MB.';
                    return;
                } else {
                    errorMessage.textContent = '';
                }

                const videoPlayer = document.getElementById('video-player');
                const videoContainer = document.getElementById('video-container');
                const fileURL = URL.createObjectURL(file);

                videoPlayer.src = fileURL;
                videoContainer.style.display = 'flex';
            }
        });
    </script>

</body>

<footer class="footer">
    <strong>
        <p>Site Desenvolvido pela Equipe PSD, na disciplina:<br>
            <a href="https://estudante.estacio.br/disciplinas/estacio_5652694/temas/1">
                Tópicos de Big Data em Python </a>
        </p>
    </strong>

</footer>
</html>